/Cours/locallibrary/
/.~lock.LITReview+-+Requirements+Specification.odt#
/LITReview+-+Requirements+Specification.odt
/LITReview+-+Schema.pdf
/LITReview - Wireframes - FR.pdf
/Pipfile
/Pipfile.lock
/.idea/
/env/
/LitrReview/Review/static/*.png
/LitrReview/.idea/.name
/LitrReview/Review/migrations/0006_alter_ticket_title.py
/LitrReview/Review/migrations/0007_auto_20210720_1833.py
/LitrReview/.idea/LitrReview.iml
/LitrReview/.idea/misc.xml
/LitrReview/.idea/modules.xml
/P9_bravo_corentin/P9_01_lien_github.txt
/P9_01_lien_github.txt
/P9_bravo_corentin.zip
/LitrReview/.idea/inspectionProfiles/profiles_settings.xml
/LitrReview/.idea/inspectionProfiles/Project_Default.xml
/LitrReview/.idea/vcs.xml
/LitrReview/.idea/workspace.xml
