/Cours/locallibrary/
/.~lock.LITReview+-+Requirements+Specification.odt#
/LITReview+-+Requirements+Specification.odt
/LITReview+-+Schema.pdf
/LITReview - Wireframes - FR.pdf
/Pipfile
/Pipfile.lock
/.idea/
/env/
/LitrReview/Review/static/*.png
