{% extends 'base_generic.html' %}

{% block content %}
<p>Suivre d'autres utilisateurs</p>
<form action="" method="post">
        {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
    <input type="submit" value="Envoyer" />
</form>

<p>Abonnements</p>
{% for followed in user_followed %}
    {% include './followed.html' with followed=followed %}
{% endfor %}

<p>Abonnés</p>
{% for follower in user_followers %}
    {% include './follower.html' with follower=follower %}
{% endfor %}
{% endblock %}