{% extends 'base_generic.html' %}

{% block content %}
<p>Créer une critique</p>
{% if ticket %}
    <p>Vous êtes en train de poster en réponse à</p>
    {% include './ticket.html' with ticket=ticket %}
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="envoyer">
    </form>
{% else %}
    <p>Livre/Article</p>
    <form enctype="multipart/form-data" action="" method="post">
        {% csrf_token %}
        <table>
            {{ ticket_form.as_table }}
            {{ review_form.as_table }}
        </table>
        <input type="submit" value="envoyer">
    </form>
{% endif %}

{% endblock %}